<mat-card class="card" >
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Amazon Web Services</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is AWS?</h2>
    <p>
      Amazon Web Services is a suit of cloud based utilities created  by Amazon for developers and companies to quickly
      spin up and use cloud technologies. It is well suited for teh new web services model of software development, and
      it includes a myriad of features for allowing services to work well together.
    </p>
    <h2>Why Use AWS?</h2>
    <p>
      The two main reasons are cost and scalability. Servers can be expensive and difficult to maintain, especially when
      starting up. Most services are free to start and you only pay for what you use. Servers can also be difficult to
      scale quickly as servers can take a long time to set up or upgrade. Down time can be very costly, so AWS allows
      you to scale on demand as soon as you need them to. Another issue AWS can resolve is reducing latency by providing
      data centers across the globe which can be closer to users. Amazon specifically has the greatest diversity of
      geographic data center locations. It also is currently the biggest player in the market and has the most easily
      usable and services.
    </p>
    <h2>Core Services</h2>
    <p>
      These services are the most widely used services that basically every user will need to use.
    </p>
    <div class="container">
      <ul>
        <li>EC2-Elastic Cloud Compute</li>
        <li>S3-Simple Storage Service</li>
        <li>RDS-Relational Database Service</li>
        <li>Route53</li>
      </ul>
    </div>
    <h2>EC2-Elastic Cloud Compute</h2>
    <p>
      Launched in 2006 as the premier service for cloud computing. It is now the foundation of most use cases for cloud
      computing. You can basically do anything a computer can do through an EC2 as it is basically just a virtual
      machine located on the Amazon cloud. The elastic portion refers to the scalability of the service as it an expand
      or contract based on rules set automatically.
    </p>
    <h2>S3-Simple Storage Service</h2>
    <h2>RDS-Relational Database Service</h2>
    <h2>Route53</h2>
  </mat-card-content>
</mat-card>
