<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Python</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is Python?</h2>
    <p>
      Python is a programming language that is quickly growing in popularity. It is a high level programming language
      that is known for readability. It is also a dynamically typed language, meaning that type is checked at compile
      time. It is typically used as an interpreted language, meaning the code is primarily implemented directly, rather
      than compiling it into machine code first. It is also multi-paradigm as it supports object oriented and structure
      oriented programming.
    </p>
    <h2>pip</h2>
    <p>
      pip is a tool used to manage dependencies similar to npm that gathers dependencies from python package index or
      pipy.
    </p>
    <h2>Python 2 vs. Python 3</h2>
    <p>
      Python 3 is not backwards compatible. Python2  uses pip, python, and ipython while python 3 uses pip3, python3,
      and ipython3. Python 3 should be the default choice because Python 2 is considered legacy code.
    </p>
    <h2>Options for Executing Python Code</h2>
    <div class="container">
      <ul>
        <li>Interpreter</li>
        <li>REPL</li>
        <li>Run Natively</li>
      </ul>
    </div>
    <h2>Current Primary Usage</h2>
    <div class="container">
      <ul>
        <li>Machine Learning</li>
        <li>Special Effects(Star Wars)</li>
        <li>Testing</li>
        <li>Scripting</li>
      </ul>
    </div>
    <h2>Linux Scripting and Administration</h2>
    <p>
      Python is well know for its usage as a scripting language for system administration and modification. This means
      you must be able to read and write properties files. It's primary usage is linux server management, but it also
      has libraries for managing windows and mac based systems.
      <br/>Ex
    </p>
    <p class="code">
      import json<br/>
      with open('input.json', 'r') as input:<br/>
      obj = json.load(input)<br/>
      print('Hello, ' _ obj['name'])<br/>
    </p>
    <h2>Web Development</h2>
    <p>
      Python is also widely used in Web Development in the form of backend and front end technologies.
    </p>
    <h2>Application Scripting</h2>
    <p>
      Application scripting is the integration of scripts directly in another application. Some examples of this are
      Blender and Unity, which allow Python and C# as scripts embedded into their application.
    </p>
    <h3>API</h3>
    <div class="container">
      <ul>
        <li>Flask</li>
        <li>Bottle</li>
        <li>Pyramid</li>
      </ul>
    </div>
    <h3>Website</h3>
    <div class="container">
      <ul>
        <li>Django</li>
        <li>TurboGears</li>
        <li>web2py</li>
      </ul>
    </div>
    <h3>App</h3>
    <div class="container">
      <ul>
        <li>Plone</li>
        <li>django-cms</li>
        <li>Mezzanine</li>
      </ul>
    </div>
    <h1>Resources</h1>
    <div class="container">
      <ul>
        <li>python.org</li>
        <li>python documentation</li>
        <li>google tutorials</li>
        <li>pypi and pip</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
