<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Git</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>Git Hub Pages</h2>
    <p>
      You can build and deploy angular apps to be hosted on github for free using the following git commands.
    </p>
    <br/><br/>
    <p class="code">
      ng build --prod --base-href https://[username].github.io/[repo]/<br/><br/>
      ngh --dir=dist/[project-name]<br/><br/>
    </p>
  </mat-card-content>
</mat-card>
