<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>OOP Concepts</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is OOP?</h2>
    <p>

    </p>
    <h2>Polymorphism</h2>
    <p>

    </p>
    <h2>Encapsulation</h2>
    <p>

    </p>
    <h2>Inheritance</h2>
    <p>

    </p>
    <h2>Abstraction</h2>
    <p>

    </p>
    <br/><br/>
  </mat-card-content>
</mat-card>
