<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Welcome</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h3>
      Welcome to my Dev-Journal! This is a simple angular project that allows me to access my notes about different
      technology from basically anywhere. Click on the table of contents to get a side nav of all of the topics that I have
      made pages for so far.
    </h3>
  </mat-card-content>
</mat-card>
