*{
  height: 100%;
}

.side-nav-button{
  height: 5%;
}

.main-content{
  width: 100%;
}

.lesson-document{
  width:100%;
  height:1000px;
}

.code{
  font-family: "Courier New", monospace;
}

img{
  background-size: cover;
  height: 50%;
}

.content{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.heading{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 5em;
}

