<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Java</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is Java?</h2>
    <p>

    </p>
    <h2>Annotations</h2>
    <p>
      Annotations in Java are a feature introduced in JDK5. They are an alternative to adding XML descriptors and marker
      interfaces. They can be attached to packages, classes, methods, and fields.
    </p>
    <p>
      To create a custom annotation, you just need to declare a class with public @interface ... Ironically you also have
      to add the annotations @Retention(RetentionPolicy.RUNTIME) and @Target(Element.Type). The Type as element signifies
      that the annotation can be applied to a class. FIELD would signify the usage on a parameter and METHOD would apply
      to method level annotations.
    </p>
  </mat-card-content>
</mat-card>
