<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Sencha Touch</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is Sencha Touch?</h2>
    <p>
      Sencha Touch is a powerful JavaScript framework. It alloes you to build powerful web applications without needing
      to start with HTML and CSS. It uses the Sencha API to build the HTML and CSS elements descibed to it in the JS.
      It is designed for mobile development, but can used to create Web applications.
    </p>
    <h2></h2>
  </mat-card-content>
</mat-card>
