@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  width: 95%;
  border-radius:2em;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
