<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Junit</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is JUnit?</h2>
    <p>
      JUnit is a java testing framework that is industry standard. It is designed to test code using classes functions as
      units of testability.
    </p>
    <h2>Controller Testing</h2>
    <p>
      Like with everything, Controllers must also be tested. This can be a little more complicated due to the nature of
      components as endpoints that should be available outside of the application. To accomplish this, we can
      <br/><br/>
      Ex:
    </p>
    <br/><br/>
    <p class="code">

    </p>
  </mat-card-content>
</mat-card>
