<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Flyway</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is Flyway?</h2>
    <p>
      Flyway is an open-sourced database migration tool. Migration can be written in SQL for database-specific syntax or
      Java for advanced data transformations. It supports various database variants.
    </p>
    <h2>How Flyway works</h2>
    <p>
      Flyway works on an incremental approach, meaning only a newer version of a schema can be migrated. and only new
      changes will be applied. By default, this history is kept in a table called SCHEMA_VERSION.
    </p>
    <h2>Migration</h2>
    <p>

    </p>
  </mat-card-content>
</mat-card>
